.App {
  text-align: center;
}

.App-header {
  width: 100%;
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  font-family: 'Ovo', serif;
  margin-top: .25rem;
}

.App-header a {
  padding: inherit .75rem inherit .75rem !important;
}

.App-body {
  width: 100%;
  height: max-content;
  margin-bottom: 2.5rem;
}

.App-footer {
  background-color: var(--demeter-black);
  height: fit-content;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.flexFooter {
  align-items: baseline;
  justify-content: space-between;
  margin: .75rem .5rem;
}

.App-footer p {
  color: white;
  margin-bottom: 0;
  font-size: .85rem;
  align-self: center;
}

.LVR {
  font-family: 'Spectral SC', serif;
}

.deco {
  width: 7rem;
  font-size: .9rem !important;
}

.demeterLogo {
  height: 2rem;
  align-self: center;
  margin-right: .75rem;
}

.footerText {
  align-self: center;
}