.invPage {
    width: 60%;
    margin: auto;
}

.invAdd {
    width: 100%;
    text-align: right;
}

.invFilterBox {
    text-align: center;
}

.invUpdate {
    text-align: center;
    width: 100%;
}

.vendorBox {
    align-items: center;
    display: flex;
}

.vendorListBox {
    margin-left: .75rem;
}

.invUpdateHeader {
    text-align: center;
    border-bottom: 2px solid var(--demeter-black);
}

.invMAJrowLarge {
    width: 44%;
    padding: 0 .25rem;
}

.invMAJrowThin {
    width: 12%;
}

.cellCenter {
    line-height: 1;
    align-self: center;
    text-align: center;
}

.cellShade:hover {
    background-color: var(--demeter-green-v) 10%;
}
