.invPage {
    width: 60%;
    margin: auto;
}

.invAdd {
    width: 100%;
    text-align: right;
}

.invFilterBox {
    text-align: center;
}

.invUpdate {
    text-align: center;
    width: 100%;
}

.invTable {
    width: 100%;
}

.vendorBox {
    align-items: center;
    display: flex;
}

.vendorListBox {
    margin-left: .75rem;
}

.invUpdateHeader {
    text-align: center;
    padding: 0 .5rem;
}

.invMAJrowLarge {
    width: 44%;
    padding: 0 .25rem;
}

.invMAJrowThin {
    width: 12%;
}

.cellCenter {
    line-height: 1;
    align-self: center;
    text-align: center;
}

.cellShade {
    padding: .25rem;
    transition: all .15s;
    border-radius: .25rem;
}

.cellShade:hover {
    background-color: var(--demeter-green-h);
}

.invEditBox {
    margin-left: .5rem;
}

.invCol {
    width: 38%;
    padding: 0 .5rem;
}

.invColThin {
    width: 24%;
    padding: 0 .5rem;
}

.invCol > h2, .invColThin > h2 {
    padding: 0 .25rem;
    margin-bottom: 0;
}

.invCol > p , .invColThin > p{
    margin-bottom: 0;
}

.flexInvQt {
    justify-content: flex-end;
    align-items: center;
}

.flexInvQt > p {
    margin-left: auto;
}

.invPageHeader {
    padding: 0 1.5rem;
}