.recipePage {
    width: 60%;
    margin: auto;
}

.recipeContent {
    width: 80%;
    margin: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    display: inline-flex;
}

.recipeListBox {
    width: fit-content;
    margin: 0 auto;
    margin-left: 1rem;
}

.recipeList {
    width: 100%;
    flex-direction: column;
}

.recipeList>span {
    text-align: left;
    width: 100%;
}

.filterBox {
    width: min-content;
}

.filterBox>button {
    width: 10rem;
    margin-bottom: .5rem;
}

.createRecipePage {
    width: 60%;
    margin: auto;
    margin-bottom: 4rem;
}

.newRecipeForm {
    width: 100%;
}

.addIngQt {
    margin-right: .5rem;
}

.addIngQt>input {
    width: 10rem;
}

.addIngQt>* {
    align-self: center;
}