/* color palette */
:root {
    --demeter-black: #201b1a;
    --demeter-black-v: #111111;
    --demeter-black-btn: #272626;
    --demeter-green: #439e75;
    --demeter-green-v: #3E8E6A;
    --demeter-green-h: #e4eee9;
    --demeter-orange: #bc5f04;
    --demeter-orange-v: #a65505;
    --demeter-grey: #696969;
}

/* defaults */
body {
    margin: 0;
    padding: 0;
    font-family: 'Antic', sans-serif;
    font-size: 1.25rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: scroll;
}

button {
    font-size: 1.25rem !important;
}

select {
    border: .1rem solid #BBB;
    border-radius: .25rem;
}

option {
    color: #495057;
}

.cursor, select {
    cursor: pointer;
}

.cursorDef {
    cursor: default;
}

/* ui */
::selection {
    color: white;
    background: var(--demeter-green);
}

:focus {
    border-color: var(--demeter-green) !important;
    box-shadow: 0 0 0 .2rem rgba(0, 150, 69, 0.25) !important;
    border-radius: .25rem;
}

.alert {
    font-size: 1rem !important;
    margin: .5rem 0 !important;
    text-align: center;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.cellCenter {
    line-height: 1;
    align-self: center;
    text-align: center;
}

.cellLeft {
    line-height: 1;
    align-self: center;
    text-align: left;
}

.cellShade {
    padding: .25rem;
    transition: all .15s;
    border-radius: .25rem;
}

.cellShade:hover {
    background-color: var(--demeter-green-h);
}

/* app variables i guess */
.pageTitle {
    text-align: center;
    width: 100%;
    margin-bottom: 0 !important;
}

.loginText {
    color: var(--demeter-grey);
    text-align: center;
}

/* flex */
[class*="flex"] {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
}

.flexCol {
    flex-direction: column;
}

/* ui icons */
[class*="icon"] {
    color: var(--demeter-black-btn);
    padding: 5px;
    transition: all 0.2s;
    font-size: 1.75rem;
}

.iconEdit:hover {
    color: var(--demeter-green);
}

.iconTrash:hover {
    color: var(--demeter-orange);
}

.iconAdd:hover + .hide, .iconList:hover + .hide {
    display: block;
}

/* popup ui */
.popupForm {
    padding: 1rem;
}

.popupForm label {
    margin-bottom: 0;
    padding-left: .1rem;
}

.popupForm button {
    display: inline-block;
}

.popupBtnBox {
    margin: auto;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.popupBtnBox>button {
    width: 10rem;
    margin: 0 1rem 0 1rem;
}

.popupTitle {
    text-align: center;
    margin-bottom: .5rem;
}

.popupSelectBox{
    display: inline-block;
    width: 100%;
}

.popupSelectLabel {
    margin-right: .5rem;
}

.popupSelectLabelFull {
    width: 100%;
}

.popupRowSplit {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popupRowSplit>div {
    width: 48%;
}

.popupFit {
    width: fit-content;
}

.flexPopupRow {
    width: 100%;
}

/* buttons with Demeter theme */
.btn {
    transition: all 0.15s;
}

.btn-demeter {
    background-color: var(--demeter-green);
    color: white;
}

.btn-demeter:hover {
    background-color: var(--demeter-green-v);
    color: white;
}

.btn-demeter-dark {
    background-color: var(--demeter-black);
    color: white;
}

.btn-demeter-dark:hover {
    background-color: var(--demeter-black-v);
    border-color: var(--demeter-black-v);
    color: white;
}

.btn-demeter-dark:focus, .btn-outline-dark:focus {
    border-color: var(--demeter-black-v) !important;
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.25) !important;
}

.btn-demeter-waxed {
    background-color: var(--demeter-orange);
    color: white;
}

.btn-demeter-waxed:hover {
    background-color: var(--demeter-orange-v);
    color: white;
}

.btn-link {
    color: var(--demeter-green);
    text-decoration: solid;
}

.btn-link:hover {
    color: var(--demeter-green-v);
}

.btn-link:focus {
    border: none !important;
    box-shadow: none !important;
}

.btn-outline-dark {
    color: var(--demeter-black);
    border: 2px solid var(--demeter-black);
}

.btn-outline-dark:hover {
    background-color: var(--demeter-black);
    border-color: var(--demeter-black);
}

.btn-outline-dark:active {
    color: white !important;
    background-color: var(--demeter-black-v) !important;
}

.btn-outline-disabled, .btn-outline-disabled:hover {
    color: var(--demeter-grey);
    border: 2px solid var(--demeter-grey);
}

.btn-outline-disabled:focus {
    color: var(--demeter-orange) !important;
    border-color: var(--demeter-orange) !important;
}

.nav-link {
    color: var(--demeter-black);
}

.nav-link.active {
    color: var(--demeter-green) !important;
}

.nav-link:focus {
    box-shadow: none !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
    border-radius: .25rem .25rem 0 0;
}

/* confirmation alert */
.react-confirm-alert-body {
    color: black !important;
    font-family: "Antic", sans-serif !important;
    line-height: 1.5rem !important;
}

.react-confirm-alert-button-group {
    justify-content: center !important;
    margin-top: 1rem !important;
    flex-direction: row-reverse !important;
    line-height: 2rem !important;
}

.react-confirm-alert-body>h1 {
    text-align: center !important;
}

.react-confirm-alert-overlay {
    animation: react-confirm-alert-fadeIn .2s .2s forwards !important;
    background: hsla(0, 0%, 0%, .85) !important;
}

.react-confirm-alert-button-group>button {
    width: 7.5rem !important;
    background-color: var(--demeter-black) !important; 
}

.react-confirm-alert-button-group>button:hover {
    background-color: var(--demeter-black-v) !important; 
    border-color: var(--demeter-black-v);
}

.react-confirm-alert-button-group>button:focus {
    border-color: var(--demeter-black-v) !important;
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, 0.25) !important;
}

.react-confirm-alert-button-group>button:first-child {
    background-color: var(--demeter-orange) !important; 
}

.react-confirm-alert-button-group>button:first-child:hover {
    background-color: var(--demeter-orange-v) !important; 
}