.taskRowList {
    min-width: 400px;
    margin: auto;
    flex-direction: column;
}

.taskRowBox {
    width: 100%;
}

.taskRowBox span,
.taskRowBox input {
    align-self: center;
}

.taskName {
    flex-wrap: nowrap;
    text-align: left;
    /* width: 100%; */
}

.taskRowBox input,
.taskRowBox .taskResponsable {
    margin-inline: .5rem;
}

.taskMaster {
    margin-left: .5rem;
    margin-right: auto;
}

.taskRowBox input {
    width: 5rem;
}

.taskRowBox .iconCheck {
    margin-right: .25rem;
    align-self: center;
}

.taskRow,
.taskChildRow {
    width: 100%;
    justify-content: space-between;
}

.taskResponsable,
.taskMaster {
    color: var(--demeter-grey);
}

.cellShade:hover .iconBullet,
.cellShade.priority .iconBullet {
    color: var(--demeter-grey);
}

.taskChildBox .taskChildRow:not(:last-child) {
    margin-bottom: .25rem;
}

.taskChildBox .taskChildRow:first-child {
    margin-top: .25rem;
}

.taskLine {
    margin: .25rem 0 !important;
}

.subTaskList {
    flex-direction: column;
    width: 100%;
}

.subTaskBox {
    width: 100%;
}

.subTask {
    width: 100%;
    justify-content: space-between;
}

.subTask>input {
    width: 90%;
}

.subTaskList .subTaskBox:not(:first-child)>hr {
    display: none;
}

.taskInput {
    min-width: fit-content;
    margin-left: auto;
    align-self: center;
}

.taskDesc {
    width: 100%;
    color: var(--demeter-grey);
    text-align: left;
    line-height: 1.25;
}

.taskDisplayList {
    width: 80%;
    margin-inline: auto;
}

.taskDisplayList .accordion-header {
    width: 100%;
    margin: 0;
    text-align: left;
}

.taskDisplayList .accordion-button {
    width: 100%;
    padding: 0;
    color: var(--demeter-orange);
    font-weight: bold;
    background-color: unset;
    border: unset;
    font-size: 1.75rem !important;
    display: inline-flex;
}

.taskDisplayList .accordion-button:focus {
    box-shadow: none !important;
}

.taskDisplayList .accordion-button>* {
    align-self: center;
}

.taskDisplayList .accordion-button .icon {
    color: var(--demeter-grey);
}

.taskDisplayList .accordion-button.collapsed .icon {
    transform: rotate(-90deg);
}

.hisDayList {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    display: inline-flex;
}

.hisDayList .hisDayBtn {
    width: 8.5rem;
    font-size: 1.15rem !important;
    margin-inline: .5rem;
}

.hisTaskList {
    width: 100%;
}

.hisTaskRow {
    width: 100%;
}

.hisTaskRow .hisTask {
    width: 75%;
}

.hisTaskRow span:last-child {
    width: 4.25rem;
    text-align: right;
    margin-left: auto;
}

.hisTaskList>div:first-child hr.taskLine {
    display: none;
}

.taskParent {
    font-weight: bolder;
    font-size: 1.35rem;
}

.taskParent span:first-child {
    color: var(--demeter-green);
}


/* TASK RESPONSIVE */
@media only screen and (max-width: 800px) {
    .taskDisplayList {
        width: 100%;
    }

    .taskRowList {
        min-width: 100%;
        line-height: 1.25;
    }

    .taskRow span {
        word-break: break-word;
    }

    .taskName {
        flex-wrap: nowrap;
        text-align: left;
        width: 100%;
    }

    .taskMaster {
        margin-right: 0;
        word-break: unset !important;
        align-self: flex-start !important;
    }

    .taskChildRow,
    .taskRow {
        flex-direction: column;
    }

    .taskInputBox {
        display: inline-flex;
        justify-content: center;
        margin-top: .25rem;
    }

    .taskInput {
        margin-left: 0;
    }

    .taskDesc {
        display: none;
    }
}